APP_HOST=0.0.0.0
APP_PORT=8082
RELOAD=true
ENVIRONMENT=local
POSTGRES_USER=username
POSTGRES_PASS=password
POSTGRES_DBNAME=postgis
POSTGRES_HOST_READER=database
POSTGRES_HOST_WRITER=database
PGUSER=username
PGPASSWORD=password
PGHOST=database
PGDATABASE=postgis
POSTGRES_PORT=5432
WEB_CONCURRENCY=10
VSI_CACHE=TRUE
GDAL_HTTP_MERGE_CONSECUTIVE_RANGES=YES
GDAL_DISABLE_READDIR_ON_OPEN=EMPTY_DIR
DB_MIN_CONN_SIZE=1
DB_MAX_CONN_SIZE=1
USE_API_HYDRATE=false
API_USERNAME=stac
API_PASSWORD=pw
